  body {
             margin: 0;
            padding: 0;
            background-image: url('img/daylight-forest-glossy-lake-443446.jpg');
            height: 100vh;
            width: 100%;    
            align-items: center;
            background-size: cover;
            background-position: center center; 
          
           

        }
        .game-container {
             /* margin: 0 auto; 
             height: 50rem;  */

            display: grid;
            margin: 0 auto;
            grid-template-rows: 3rem 2rem 30rem 4rem 2rem;
            /* box-sizing: border-box; */
            padding: 3rem;
            /* align-self: center; */
            /* justify-self: center; */
            /* background-color: */
            /* border: 2px black solid; */
            
            

        }
        .game-header {
            text-align: center;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 3.5rem;
            grid-row: 1 / 2;
            align-self: center;
            color: rgb(4 218 234 / 89%);
        }
        .game-grid-box {
            display: grid;
            grid-template-columns: repeat(3,7rem);
            height: 27rem;
            align-self: center;
            justify-self: center;
            background-color: #31292999;
            /* border-radius: 1rem; */
            /* border: 2px black solid; */
            row-gap: px;
            column-gap: px;
            background-image: url('img/devil.svg');
            /* align-items: center; */
            background-size: cover;
            background-position: center center;
          
        }

        /* styling my dialog */
        dialog {
            max-width: 17rem;
            background-color: rgb(26, 190, 202);
            color: whitesmoke;
            border-radius: 2rem;
        }

        form {
            display: grid;
            grid-template-rows: repeat(4,1fr);
        }

        .welcome-txt {
            color: red;
            grid-row: 1 / 2;
            font-size: 1.5rem;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .para-msg {
            color: red;
            grid-row: 2 / 3;
            margin: 0;
            padding: 0;
        }
        .input-field
         {
            display: flex;
            gap: 10px;
            width: 17rem;
        }
        #player1,
        #player2 {
            align-self: center;
            max-width: 7rem;
            padding: 6px;
            outline: none;
            border: 1px rgba(0, 0, 0, 0.233) solid;
            border-radius: 9px;
            font-size: 15px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;            

        }
         
        #dialog-opt-btn {
            display: flex;
            justify-content: space-around;
        }
        #perform-click-operation {
            align-self: center;
            /* max-width: 7rem; */
            padding: 6px;
            font-size: 15px;
            border-radius: 2rem;
            outline: none;
            border: 1px rgba(0, 0, 0, 0.438) solid;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;            
        } 

        .close-modal {
            align-self: center;
            /* max-width: 7rem; */
            padding: 6px;
            font-size: 15px;
            border-radius: 2rem;
            outline: none;
            border: 1px rgba(0, 0, 0, 0.438) solid;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;            

        }

        .box {
            border: 1px  rgb(101 209 218) solid;
            /* text-align: center; */
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;            
            font-size: 3rem;
            font-weight: 900;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-family: cursive;
            
            
        }
        .box:hover {
            
        }
        .start-btn,
        .reset-btn {
            width: 18rem;
            justify-self: center;
            background-color: rgb(123, 171, 233);
            color: white;
            font-size: 1rem;
            height: 3rem;
            font-family: cursive;
            border-radius: 1rem;
            border-color: rgba(0, 0, 0, 0.164);
            border-style: solid;
            outline: none;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;            
            transition: opacity 0.4s;
        } 
        .reset-btn {
         background-color: orange;
        }
      
        .display-status {
            font-size: 1.3rem;
            line-height: 1.4rem;
            font-weight: 900;
            font-family: cursive;
            text-align: center;
            padding-top: 3px;
            color: white;
   
            border-radius: 2rem;
          
        }